<app-navbar></app-navbar>

<link rel="stylesheet" href="gameboard.component.css">

<div class="container">
    <form>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 1" value="1">
            <label class="form-check-label" for="column 1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 2" value="2">
            <label class="form-check-label" for="column 2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 3" value="3">
            <label class="form-check-label" for="column 3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 4" value="4">
            <label class="form-check-label" for="column 4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 5" value="5">
            <label class="form-check-label" for="column 5">5</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 6" value="6">
            <label class="form-check-label" for="column 6">6</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="slot" id="column 7" value="7">
            <label class="form-check-label" for="column 7">7</label>
        </div>

    <table>
        <tr>
            <script>
            document.write
            (
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(10) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(11) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(12) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(13) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(14) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(15) + ";></td>" +
            "<td class='slot' style='background-color: " + colorMapping(this.boardConfig.charAt(16) + ";></td>"
            )
            </script>
        </tr>
        <tr>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
        </tr>
        <tr>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
        </tr>
        <tr>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
        </tr>
        <tr>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
        </tr>
        <tr>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
            <td class="slot"></td>
        </tr>
    </table>

    <br>
    <br>
    <button (click)="onSubmit()" type="submit" class="btn btn-secondary" style="font-size: 24px; font-family:'Mina', sans-serif; color: #501f3a">Submit</button>
</form>
</div>