
<app-navbar></app-navbar>

      <div class="jumbotron jumbotron-fluid" style="background-color: lightblue;">
        <div class="container">
          <h1 class="display-4 text-center">Connect 4 Game Info</h1>
          <p class="lead text-center">You join a team when you register and to play you press the button get board below. You will choose a place to put your piece
              and then hit submit to place the piece. After this it will take you back here to get another board to play a piece.
          </p>
        </div>
      </div>

      <div class="container">
          <div class="center">
            <a href="" class="btn-lg btn btn-info btn-block" style="font-size: 28px;">Get Board</a>
           
            </div>
         </div>