<app-navbar></app-navbar>


<body style="background-color: #0F292F;">
<div class="container">
    <h1 class="text-center" style="font-size: 48px; font-family:'Mina', sans-serif; color: #CCCCCC" >Board Archive</h1>
        <button (click)="onHome()"  class="btn btn-outline-secondary">Home</button>
    <div class="card" style="background-color: #0F292F;">
        
        <div class="card-body">
            <table class="table table-striped" style="background-color: #CCCCCC">
                <thead class="thead" style="background: #8d8d8d;">
                    <tr style = "font-family:'Mina', sans-serif; color: #501f3a">
                        <th>Board Id</th>
                        <th>Board Configuration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archive of archives" style = "font-family:'Mina', sans-serif; color: #501f3a">
                        <td>{{ archive.id }}</td>
                        <td>{{ archive.configuration }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>